<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>User Registration</h1>
{% if messages %}
{% for message in messages %}
<p style="color: red;">{{message}}</p>
{% endfor %}
{% endif %}
<form method="post">
{% csrf_token %}
<label for="username">User Name</label>
<input type="text" name="userId"><br>
<label for="fname">First Name</label>
<input type="text" name="first_name"><br>
<label for="lname">Last Name</label>
<input type="text" name="last_name"><br>
<label for="email">email</label>
<input type="text" name="userEmail"><br>
<label for="tel">Phone Nomber</label>
<input type="number" name="phoneNo"><br>
<label for="password">password</label>
<input type="password" name="password"><br>
<label for="Confirm_password">Confirm password</label>
<input type="password" name="confirm_password"><br>
<button type="submit">Submit</button>
</form>


</body>
</html>